
<div>
    <h2><span translate="starterApp.location.detail.title">Location</span> {{vm.location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="starterApp.location.locationId">Location Id</span></dt>
        <dd>
            <span>{{vm.location.locationId}}</span>
        </dd>
        <dt><span translate="starterApp.location.streetAddress">Street Address</span></dt>
        <dd>
            <span>{{vm.location.streetAddress}}</span>
        </dd>
        <dt><span translate="starterApp.location.postalCode">Postal Code</span></dt>
        <dd>
            <span>{{vm.location.postalCode}}</span>
        </dd>
        <dt><span translate="starterApp.location.city">City</span></dt>
        <dd>
            <span>{{vm.location.city}}</span>
        </dd>
        <dt><span translate="starterApp.location.stateProvince">State Province</span></dt>
        <dd>
            <span>{{vm.location.stateProvince}}</span>
        </dd>
        <dt><span translate="starterApp.location.country">Country</span></dt>
        <dd>
            <a ui-sref="country-detail({id:vm.location.country.id})">{{vm.location.country.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="location-detail.edit({id:vm.location.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
