
<div>
    <h2><span translate="starterApp.country.detail.title">Country</span> {{vm.country.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="starterApp.country.countryId">Country Id</span></dt>
        <dd>
            <span>{{vm.country.countryId}}</span>
        </dd>
        <dt><span translate="starterApp.country.countryName">Country Name</span></dt>
        <dd>
            <span>{{vm.country.countryName}}</span>
        </dd>
        <dt><span translate="starterApp.country.region">Region</span></dt>
        <dd>
            <a ui-sref="region-detail({id:vm.country.region.id})">{{vm.country.region.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="country-detail.edit({id:vm.country.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
