
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCountryLabel" translate="starterApp.country.home.createOrEditLabel">Create or edit a Country</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.country.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.country.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.country.countryId" for="field_countryId">Country Id</label>
            <input type="number" class="form-control" name="countryId" id="field_countryId"
                    ng-model="vm.country.countryId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.country.countryName" for="field_countryName">Country Name</label>
            <input type="text" class="form-control" name="countryName" id="field_countryName"
                    ng-model="vm.country.countryName"
                     />
        </div>

        <div class="form-group">
            <label translate="starterApp.country.region" for="field_region">Region</label>
            <select class="form-control" id="field_region" name="region" ng-model="vm.country.region" ng-options="region as region.id for region in vm.regions | orderBy:'id' track by region.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
