
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDepartmentLabel" translate="starterApp.department.home.createOrEditLabel">Create or edit a Department</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.department.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.department.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.department.departmentId" for="field_departmentId">Department Id</label>
            <input type="number" class="form-control" name="departmentId" id="field_departmentId"
                    ng-model="vm.department.departmentId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.department.departmentName" for="field_departmentName">Department Name</label>
            <input type="text" class="form-control" name="departmentName" id="field_departmentName"
                    ng-model="vm.department.departmentName"
                    required />
            <div ng-show="editForm.departmentName.$invalid">
                <p class="help-block"
                    ng-show="editForm.departmentName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="starterApp.department.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" ng-model="vm.department.location" ng-options="location as location.id for location in vm.locations | orderBy:'id' track by location.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
