
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRegionLabel" translate="starterApp.region.home.createOrEditLabel">Create or edit a Region</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.region.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.region.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.region.regionId" for="field_regionId">Region Id</label>
            <input type="number" class="form-control" name="regionId" id="field_regionId"
                    ng-model="vm.region.regionId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.region.regionName" for="field_regionName">Region Name</label>
            <input type="text" class="form-control" name="regionName" id="field_regionName"
                    ng-model="vm.region.regionName"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
