
<div>
    <h2><span translate="starterApp.region.detail.title">Region</span> {{vm.region.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="starterApp.region.regionId">Region Id</span></dt>
        <dd>
            <span>{{vm.region.regionId}}</span>
        </dd>
        <dt><span translate="starterApp.region.regionName">Region Name</span></dt>
        <dd>
            <span>{{vm.region.regionName}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="region-detail.edit({id:vm.region.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
