
<div>
    <h2><span translate="starterApp.employee.detail.title">Employee</span> {{vm.employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="starterApp.employee.employeeId">Employee Id</span></dt>
        <dd>
            <span>{{vm.employee.employeeId}}</span>
        </dd>
        <dt><span translate="starterApp.employee.firstName">First Name</span></dt>
        <dd>
            <span>{{vm.employee.firstName}}</span>
        </dd>
        <dt><span translate="starterApp.employee.lastName">Last Name</span></dt>
        <dd>
            <span>{{vm.employee.lastName}}</span>
        </dd>
        <dt><span translate="starterApp.employee.email">Email</span></dt>
        <dd>
            <span>{{vm.employee.email}}</span>
        </dd>
        <dt><span translate="starterApp.employee.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{vm.employee.phoneNumber}}</span>
        </dd>
        <dt><span translate="starterApp.employee.hireDate">Hire Date</span></dt>
        <dd>
            <span>{{vm.employee.hireDate | date:'medium'}}</span>
        </dd>
        <dt><span translate="starterApp.employee.salary">Salary</span></dt>
        <dd>
            <span>{{vm.employee.salary}}</span>
        </dd>
        <dt><span translate="starterApp.employee.commissionPct">Commission Pct</span></dt>
        <dd>
            <span>{{vm.employee.commissionPct}}</span>
        </dd>
        <dt><span translate="starterApp.employee.department">Department</span></dt>
        <dd>
            <a ui-sref="department-detail({id:vm.employee.departmentId})">{{vm.employee.departmentId}}</a>
        </dd>
        <dt><span translate="starterApp.employee.manager">Manager</span></dt>
        <dd>
            <a ui-sref="employee-detail({id:vm.employee.managerId})">{{vm.employee.managerId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="employee-detail.edit({id:vm.employee.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
