
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJobHistoryLabel" translate="starterApp.jobHistory.home.createOrEditLabel">Create or edit a Job History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.jobHistory.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.jobHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.jobHistory.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.jobHistory.startDate" is-open="vm.datePickerOpenStatus.startDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.jobHistory.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.jobHistory.endDate" is-open="vm.datePickerOpenStatus.endDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.jobHistory.language" for="field_language">Language</label>
            <select class="form-control" name="language" ng-model="vm.jobHistory.language" id="field_language">
                <option value="FRENCH" translate="starterApp.Language.FRENCH">FRENCH</option>
                <option value="ENGLISH" translate="starterApp.Language.ENGLISH">ENGLISH</option>
                <option value="SPANISH" translate="starterApp.Language.SPANISH">SPANISH</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="starterApp.jobHistory.job" for="field_job">Job</label>
            <select class="form-control" id="field_job" name="job" ng-model="vm.jobHistory.job" ng-options="job as job.id for job in vm.jobs | orderBy:'id' track by job.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="starterApp.jobHistory.department" for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" ng-model="vm.jobHistory.department" ng-options="department as department.id for department in vm.departments | orderBy:'id' track by department.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="starterApp.jobHistory.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="vm.jobHistory.employee" ng-options="employee as employee.id for employee in vm.employees | orderBy:'id' track by employee.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
