<div>
    <h2 translate="starterApp.jobHistory.home.title">Job Histories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="job-history.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="starterApp.jobHistory.home.createLabel">
                        Create new Job History
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'starterApp.jobHistory.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="starterApp.jobHistory.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="starterApp.jobHistory.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="language"><span translate="starterApp.jobHistory.language">Language</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="job.id"><span translate="starterApp.jobHistory.job">Job</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="department.id"><span translate="starterApp.jobHistory.department">Department</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="employee.id"><span translate="starterApp.jobHistory.employee">Employee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="jobHistory in vm.jobHistories track by jobHistory.id">
                    <td><a ui-sref="job-history-detail({id:jobHistory.id})">{{jobHistory.id}}</a></td>
                    <td>{{jobHistory.startDate | date:'medium'}}</td>
                    <td>{{jobHistory.endDate | date:'medium'}}</td>
                    <td translate="{{'starterApp.Language.' + jobHistory.language}}">{{jobHistory.language}}</td>
                    <td>
                        <a ui-sref="job-detail({id:jobHistory.job.id})">{{jobHistory.job.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="department-detail({id:jobHistory.department.id})">{{jobHistory.department.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="employee-detail({id:jobHistory.employee.id})">{{jobHistory.employee.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="job-history-detail({id:jobHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="job-history.edit({id:jobHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="job-history.delete({id:jobHistory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
