
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJobLabel" translate="starterApp.job.home.createOrEditLabel">Create or edit a Job</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.job.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.job.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.job.jobId" for="field_jobId">Job Id</label>
            <input type="number" class="form-control" name="jobId" id="field_jobId"
                    ng-model="vm.job.jobId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.job.jobTitle" for="field_jobTitle">Job Title</label>
            <input type="text" class="form-control" name="jobTitle" id="field_jobTitle"
                    ng-model="vm.job.jobTitle"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.job.minSalary" for="field_minSalary">Min Salary</label>
            <input type="number" class="form-control" name="minSalary" id="field_minSalary"
                    ng-model="vm.job.minSalary"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starterApp.job.maxSalary" for="field_maxSalary">Max Salary</label>
            <input type="number" class="form-control" name="maxSalary" id="field_maxSalary"
                    ng-model="vm.job.maxSalary"
                     />
        </div>

        <div class="form-group">
            <label translate="starterApp.job.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="vm.job.employee" ng-options="employee as employee.id for employee in vm.employees track by employee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="starterApp.job.task" for="field_task">Task</label>
            <select class="form-control" id="field_task" multiple name="task" ng-model="vm.job.tasks" ng-options="task as task.title for task in vm.tasks track by task.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
